<button mat-raised-button color="primary" (click)="openIdentifyDialog()">Identify a species</button>
<button mat-raised-button color="secondary" (click)="resetList()">Reset</button>

<ng-container *ngIf="species$|async as species">
    <table mat-table [dataSource]="species">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element">
                <img [src]="element.image" [alt]="element.name" [width]="50">
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="redirectToDetails(row)"></tr>
    </table>
</ng-container>